/*! Basic typography style.
 ========================================================================== */
body {
  font-size: 16px;
  font-family: $open-sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 800;
}
