/*! Basic typography style.
 ========================================================================== */
body {
  font-size: 16px;
  font-family: $open-sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}

h2 {
  margin: map-get($space, l) 0;
}
