/*! Article post entry styles.
  ========================================================================== */
article.post {
  margin-top: map-get($space, xl);
  margin-bottom: map-get($space, xl);

  &:first-child {
    margin: 0;
  }

  &:last-child {
    margin: 0;
  }
}

.entry {
  &-meta {
    font-size: 0.8rem;
    color: $gray-color;

    a {
      @extend .noBg;

      font-weight: bold;
    }
  }

  &-header {
    & + img {
      margin: map-get($space, l) 0;
    }
  }

  &-title {
    font-family: $monserrat;
    font-weight: bold;
    font-size: 2.5rem;
    margin: 0;
  }

  &-title a {
    @extend .noBg, .entry-title;

    &:hover {
      color: $green-color !important;
    }
  }

  &-content {
    margin: map-get($space, l) 0;
  }

  &-footer {
    clear: both;

    a {
      & + svg  {
        margin-right: map-get($space, m);
      }
    }

    svg {
      width: 18px;
      height: auto;
      margin-right: map-get($space, s);
      vertical-align: middle;
      
      * {
        fill: darken($gray-color2, 5);
      }
    }
  }
}
