/*! Post categories and tags styles.
  ========================================================================== */
.cat-links,
.tags-links {
  margin-right: map-get($space, l);

  a {
    @extend .noBg;

    font-size: 0.72rem;
    line-height: 0.9rem;
  }
}

.tags-links {
  a {
    padding: map-get($space, xs) map-get($space, s) !important;
    background: $gray-color2 !important;

    &:hover {
      background: darken($gray-color2, 10) !important;
    }
  }
}
